@media(max-width:900px)
{
    main{

      width: 100%;
    }
    .nav-right{
 display: none;
    }
    .hero-text{
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }
    .hero-image{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
    .hero-image img{
      
        height: 50%;
    }
    .line{
        display: none;
    }
    .Hero h1{
        font-size: 48px;
    }
    .first{
        justify-content: center;
        align-items: center;
    }
    .details-group{
        align-items: center;
    }
}